<div id="links">
    <div id="links_menu">
        <table width="163" cellpadding="0" cellspacing="0" border="0">
            <tr><td><%= link_to 'Home', :controller => :diving, :action => :shop %>
            </td></tr>

          <tr><td>
            <%= mouse_over_image 'diving' %>
            <%= link_to 'Dive Packages', packages_path, :onMouseover => "ShowMenu('diving')", :onmouseout => "HideMenu();" %>
            <div class="dropdown" id="diving">
              <%= link_to 'Dive Packages', packages_path, :onMouseover => "ShowMenu('diving')", :onmouseout => "HideMenu();" %>
              <%= link_to 'Daily Dive Schedule', schedule_path, :onMouseover => "ShowMenu('diving')", :onmouseout => "HideMenu();" %>
              <%= link_to 'Why Dive With Us?', why_path, :onMouseover => "ShowMenu('diving')", :onmouseout => "HideMenu();" %>
              <%= link_to 'What We Offer', offer_path, :onMouseover => "ShowMenu('diving')", :onmouseout => "HideMenu();" %>
              <%= link_to 'Our Boats', boats_path, :onMouseover => "ShowMenu('diving')", :onmouseout => "HideMenu();" %>
              <%= link_to 'Our Dive Center', center_path, :onMouseover => "ShowMenu('diving')", :onmouseout => "HideMenu();" %>
            </div>
          </td></tr>
            <tr><td>
              <%= mouse_over_image 'rec' %>
              <%= link_to 'PADI Dive Courses', rec_courses_path, :onmouseover => "ShowMenu('rec');", :onmouseout => "HideMenu();" %>
            <div class="dropdown" id="rec">
              <%= link_to 'PADI Dive Courses', rec_courses_path, :onmouseover => "ShowMenu('rec');", :onmouseout => "HideMenu();" %>
              <%= course_sub_menu('rec') %>
            </div></td></tr>

            <tr><td>
              <%= mouse_over_image 'spec' %>
              <%= link_to 'Specialty Courses', spec_courses_path, :onmouseover => "ShowMenu('spec');", :onmouseout => "HideMenu();" %>

            <div class="dropdown" id="spec">
              <%= link_to 'Specialty Courses', spec_courses_path, :onmouseover => "ShowMenu('spec');", :onmouseout => "HideMenu();" %>
              <%= course_sub_menu('spec') %>
            </div></td></tr>

          <tr><td>
              <%= mouse_over_image 'pro' %>
            <%= link_to 'Go Pro', pro_courses_path, :onmouseover => "ShowMenu('pro');", :onmouseout => "HideMenu();" %>
            <div class="dropdown" id="pro">
              <%= link_to 'Go Pro', pro_courses_path, :onmouseover => "ShowMenu('pro');", :onmouseout => "HideMenu();" %>
              <%= course_sub_menu('pro') %>
            </div></td></tr>

            <tr><td>
              <%= mouse_over_image 'tec' %>
              <%= link_to 'Tec Diving', tec_courses_path, :onmouseover => "ShowMenu('tec');", :onmouseout => "HideMenu();" %>
            <div class="dropdown" id="tec">
              <%= link_to 'Tec Diving', tec_courses_path, :onmouseover => "ShowMenu('tec');", :onmouseout => "HideMenu();" %>
              <%= course_sub_menu('tec') %>
            </div></td></tr>

            <tr><td><%= link_to 'PADI e-Learning', elearning_path %></td></tr>
            <tr><td><a href="http://www.coconuttreedivers.com/calc/index.php">Course Calculator</a></td></tr>

            <tr><td>
              <%= mouse_over_image 'crew' %>
              <%= link_to 'Our Crew', crew_members_path, :onmouseover => "ShowMenu('crew');", :onmouseout => "HideMenu();" %>
            <div class="dropdown" id="crew">
              <%= link_to 'Our Crew', crew_members_path, :onmouseover => "ShowMenu('crew');", :onmouseout => "HideMenu();" %>
              <%= link_to 'Management', crew_members_path(:anchor => 'Management'), :onmouseover => "ShowMenu('crew');", :onmouseout => "HideMenu();" %>
              <%= link_to 'Captains', crew_members_path(:anchor => 'Captains'), :onmouseover => "ShowMenu('crew');", :onmouseout => "HideMenu();" %>
              <%= link_to 'Instructors', crew_members_path(:anchor => 'Instructors'), :onmouseover => "ShowMenu('crew');", :onmouseout => "HideMenu();" %>
              <%= link_to 'Support Staff', crew_members_path(:anchor => 'Support_Staff'), :onmouseover => "ShowMenu('crew');", :onmouseout => "HideMenu();" %>
              <%= link_to 'Divemaster Interns', crew_members_path(:anchor => 'Divemaster_Interns'), :onmouseover => "ShowMenu('crew');", :onmouseout => "HideMenu();" %>
            </div></td></tr>
            <tr><td>
              <%= mouse_over_image 'grads' %>
              <%= link_to 'Our Graduates', grads_members_path, :onmouseover => "ShowMenu('grads');", :onmouseout => "HideMenu();" %>
            <div class="dropdown" id="grads">
              <%= link_to 'Our Graduates', grads_members_path, :onmouseover => "ShowMenu('grads');", :onmouseout => "HideMenu();" %>
              <%= link_to 'Cult Leaders', grads_members_path(:anchor => 'leader'), :onmouseover => "ShowMenu('grads');", :onmouseout => "HideMenu();" %>
              <%= link_to 'IDC Graduates', grads_members_path(:anchor => 'idc'), :onmouseover => "ShowMenu('grads');", :onmouseout => "HideMenu();" %>
              <%= link_to 'Divemaster Graduates', grads_members_path(:anchor => 'dm'), :onmouseover => "ShowMenu('grads');", :onmouseout => "HideMenu();" %>
              <%= link_to 'Roatan Tec Team Graduates', grads_members_path(:anchor => 'tecies'), :onmouseover => "ShowMenu('grads');", :onmouseout => "HideMenu();" %>
              <%= link_to 'Stamina Test Perfect 20 Club', grads_members_path(:anchor => 'stamina'), :onmouseover => "ShowMenu('grads');", :onmouseout => "HideMenu();" %>
            </div></td></tr>
            <tr><td>
              <%= mouse_over_image 'sites' %>
              <a href="http://www.coconuttreedivers.com/sites/index.php" onmouseover="ShowMenu('sites');" onmouseout="HideMenu();">Roatan Dive Sites</a>

            <div class="dropdown" id="sites"><a href="http://www.coconuttreedivers.com/sites/index.php" onmouseover="ShowMenu('sites');" onmouseout="HideMenu();">Roatan Dive Sites</a>
            <a href="http://www.coconuttreedivers.com/sites/showlocation.php?locationid=1" onmouseover="ShowMenu('sites');" onmouseout="HideMenu();">Shark Dive</a><a href="http://www.coconuttreedivers.com/sites/showlocation.php?locationid=2" onmouseover="ShowMenu('sites');" onmouseout="HideMenu();">South Shore</a><a href="http://www.coconuttreedivers.com/sites/showlocation.php?locationid=3" onmouseover="ShowMenu('sites');" onmouseout="HideMenu();">The Point</a><a href="http://www.coconuttreedivers.com/sites/showlocation.php?locationid=4" onmouseover="ShowMenu('sites');" onmouseout="HideMenu();">West Bay Walls</a><a href="http://www.coconuttreedivers.com/sites/showlocation.php?locationid=5" onmouseover="ShowMenu('sites');" onmouseout="HideMenu();">West End Shallows</a><a href="http://www.coconuttreedivers.com/sites/showlocation.php?locationid=6" onmouseover="ShowMenu('sites');" onmouseout="HideMenu();">West End Walls</a><a href="http://www.coconuttreedivers.com/sites/showlocation.php?locationid=7" onmouseover="ShowMenu('sites');" onmouseout="HideMenu();">Seagrape Ironshore</a><a href="http://www.coconuttreedivers.com/sites/showlocation.php?locationid=8" onmouseover="ShowMenu('sites');" onmouseout="HideMenu();">North Shore Walls</a><a href="http://www.coconuttreedivers.com/sites/showlocation.php?locationid=9" onmouseover="ShowMenu('sites');" onmouseout="HideMenu();">Anthony's Key</a><a href="http://www.coconuttreedivers.com/sites/showlocation.php?locationid=10" onmouseover="ShowMenu('sites');" onmouseout="HideMenu();">Sandy Bay Canyons</a><a href="http://www.coconuttreedivers.com/sites/showlocation.php?locationid=11" onmouseover="ShowMenu('sites');" onmouseout="HideMenu();">Odyssey Wreck</a></div></td></tr>
            <tr><td>
              <%= mouse_over_image 'roatan' %>
              <a href="http://www.coconuttreedivers.com/roatan/index.php" onmouseover="ShowMenu('roatan');" onmouseout="HideMenu();">About Roatan</a>
            <div class="dropdown" id="roatan"><a href="http://www.coconuttreedivers.com/roatan/index.php" onmouseover="ShowMenu('roatan');" onmouseout="HideMenu();">About Roatan</a>

            <a href="http://www.coconuttreedivers.com/roatan/reef.php" onmouseover="ShowMenu('roatan');" onmouseout="HideMenu();">Roatan's Reef</a><a href="http://www.coconuttreedivers.com/roatan/history.php" onmouseover="ShowMenu('roatan');" onmouseout="HideMenu();">History of Roatan</a><a href="http://www.coconuttreedivers.com/roatan/westend.php" onmouseover="ShowMenu('roatan');" onmouseout="HideMenu();">About West End</a><a href="http://www.coconuttreedivers.com/roatan/hotels.php" onmouseover="ShowMenu('roatan');" onmouseout="HideMenu();">Hotels and Accomodations</a><a href="http://www.coconuttreedivers.com/roatan/restaurants.php" onmouseover="ShowMenu('roatan');" onmouseout="HideMenu();">Restaurants and Bars</a><a href="http://www.coconuttreedivers.com/roatan/activities.php" onmouseover="ShowMenu('roatan');" onmouseout="HideMenu();">Other Activities</a><a href="http://www.coconuttreedivers.com/roatan/links.php" onmouseover="ShowMenu('roatan');" onmouseout="HideMenu();">Useful Links</a><a href="http://www.coconuttreedivers.com/roatan/faqs.php" onmouseover="ShowMenu('roatan');" onmouseout="HideMenu();">Frequently Asked Questions</a></div></td></tr>
            <tr><td>
              <%= mouse_over_image 'photos' %>
              <a href="http://www.coconuttreedivers.com/photos/index.php" onmouseover="ShowMenu('photos');" onmouseout="HideMenu();">Photo Gallery</a>
            <div class="dropdown" id="photos"><a href="http://www.coconuttreedivers.com/photos/index.php" onmouseover="ShowMenu('photos');" onmouseout="HideMenu();">Photo Gallery</a>
            <a href="http://www.coconuttreedivers.com/photos/showgallery.php?galleryid=13" onmouseover="ShowMenu('photos');" onmouseout="HideMenu();">Scuba Steve's Shots</a><a href="http://www.coconuttreedivers.com/photos/showgallery.php?galleryid=2" onmouseover="ShowMenu('photos');" onmouseout="HideMenu();">Around the Shop</a><a href="http://www.coconuttreedivers.com/photos/showgallery.php?galleryid=8" onmouseover="ShowMenu('photos');" onmouseout="HideMenu();">Around West End</a><a href="http://www.coconuttreedivers.com/photos/showgallery.php?galleryid=1" onmouseover="ShowMenu('photos');" onmouseout="HideMenu();">Aquatic Life</a><a href="http://www.coconuttreedivers.com/photos/showgallery.php?galleryid=10" onmouseover="ShowMenu('photos');" onmouseout="HideMenu();">Marco's pics</a></div></td></tr>

            <tr><td><a href="http://www.coconuttreedivers.com/news/index.php">News Updates</a></td></tr>
            <tr><td><a href="http://www.coconuttreedivers.com/testimonials/index.php">Testimonials</a></td></tr>
            <tr><td><a href="http://www.coconuttreedivers.com/contact/index.php">Contact Us</a></td></tr>
        </table>
    </div>

    <div id="links_ads">
        <a href="http://www.padi.com" title="PADI 5-Star Instructor Development Dive Resort with Nitrox and Trimix"><%= image_tag 'padi_five_star.gif', :size => '150x100', :border => '0', :alt => 'PADI 5-Star Instructor Development Dive Resort with Nitrox and Trimix' %></a>


        <div id="roatan_weather">
            <a href="http://www.wunderground.com/global/stations/78703.html?bannertypeclick=miniWeather2" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/miniWeather2_both_cond/language/www/global/stations/78703.gif" height="50" width="150" alt="Weather for Roatan, Honduras"></a>
        </div>

        <a href="http://www.roatanmarinepark.com" title="Roatan Marine Park"><%= image_tag 'roatanmarinepark.gif', :size => '150x150', :border => '0', :alt => 'Roatan Marine Park' %></a>

        <a href="https://secure.groundspring.org/dn/index.php?aid=11862" title="Help the Children of Roatan with your donations to SOL International Foundation"><%= image_tag 'donate_now_black.jpg', :size => '150x200', :border => '0', :alt => 'Donate to SOL International Foundation through Groundspring.org' %></a>


        <a href="http://www.coconuttreedivers.com/admin/index.php">Administrative Options</a>
        <a href="http://www.coconuttreedivers.com/rss.xml">RSS Feed <%= image_tag 'icons/rss-feed.gif', :size => '16x16', :border => '0', :alt => 'Subscribe to our RSS Feed' %></a>
        <a href="http://www.coconuttreedivers.com/sitemap.xml">Sitemap XML</a>
        <a href="http://www.coconuttreedivers.com//elearning/index.php?naked=yes">View Text-Only</a>

    </div>


    <div id="links_bottom"></div>
</div>

<!--<script language="javascript" type="text/javascript" src="http://www.coconuttreedivers.com/Templates/menu.js"></script>-->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-6420029-3");
pageTracker._trackPageview();
</script>
