   		    <div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/rec/showcourse.php?id=1">Discover Scuba Diving &gt;</a></span>
</div>
			<a name="top"></a>




<h1>PADI Dive Courses</h1>

<p>Never been diving before? Looking to expand your diving skills and knowledge? From your first bubbles underwater to your first steps towards becoming a PADI professional, Coconut Tree Divers has the course to meet your needs. <a href="../crew/index.php">Our staff of full-time instructors</a> has years of professional diving experience in a diverse array of environments, and our commitment to your safety and enjoyment guarantees that you will have to best experience possible.</p>
<p>Our multi-lingual instructors are qualified to teach courses in English, Spanish, German, and French. Click on a course below for more information.</p>
<div class="navbox">
<div class="nav">
<div id="picture"><a href="showcourse.php?id=1"><%= image_tag 'navbar/dsd.jpg', :size => '156x150', :border => '0', :alt => 'Discover Scuba Diving' %></a></div>
<div id="navtitle"><a href="showcourse.php?id=1">Discover Scuba Diving</a></div>
<div id="blurb">
Experience the thrill of scuba diving without taking the full course! After a brief orientation, you participate in a skills practice session where an instructor teaches the skills necessary for diving safety and comfort. Then you head to the reef for a fun and fish-filled scuba dive with your instructor. <span id="more"><a href="showcourse.php?id=1">More information...</a>
</div>
</div>
<div class="nav">
<div id="picture"><a href="showcourse.php?id=2"><%= image_tag 'navbar/ow.jpg', :size => '156x150', :border => '0', :alt => 'Open Water' %></a></div>
<div id="navtitle"><a href="showcourse.php?id=2">Open Water</a></div>
<div id="blurb">
This is where your adventure begins! Classroom instruction is followed by several shallow water skills training sessions, each paced to meet your personal skill development needs. It all wraps up with four open water dives on the reef, after which you are certified for life as a PADI Open Water Diver. <span id="more"><a href="showcourse.php?id=2">More information...</a>
</div>
</div>
<div class="nav">
<div id="picture"><a href="showcourse.php?id=3"><%= image_tag 'navbar/aow.jpg', :size => '156x150', :border => '0', :alt => 'Advanced Open Water' %></a></div>
<div id="navtitle"><a href="showcourse.php?id=3">Advanced Open Water</a></div>
<div id="blurb">
Ready to take your diving to the next level? During the five open water dives of the Advanced Open Water course, you\\\\\\\'ll explore exciting specialties such as underwater navigation, deep diving, wreck diving, night diving, peak performance buoyancy, underwater naturalist, and underwater photography. <span id="more"><a href="showcourse.php?id=3">More information...</a>
</div>
</div>
<div class="nav">
<div id="picture"><a href="showcourse.php?id=5"><%= image_tag 'navbar/efr.jpg', :size => '156x150', :border => '0', :alt => 'Emergency First Response' %></a></div>
<div id="navtitle"><a href="showcourse.php?id=5">Emergency First Response</a></div>
<div id="blurb">
Are you prepared to respond when an emergency strikes? Whether you\'re a diver or a non-diver, Emergency First Response prepares you to properly assess and handle potentially life-threatening situations. You learn essential life-saving skills such as rescue breathing, CPR, and shock management, in addition to basic first-aid. <span id="more"><a href="showcourse.php?id=5">More information...</a>
</div>
</div>
<div class="nav">
<div id="picture"><a href="showcourse.php?id=6"><%= image_tag 'navbar/resc.jpg', :size => '156x150', :border => '0', :alt => 'Rescue Diver' %></a></div>
<div id="navtitle"><a href="showcourse.php?id=6">Rescue Diver</a></div>
<div id="blurb">
Take the challenge! The Rescue Diver course expands your knowledge and confidence as you protect the safety of other divers. Classroom sessions are following by shallow water training in which basic rescue skills are introduced. Then it\'s off to the open water to test your abilities in several challenging rescue scenarios. <span id="more"><a href="showcourse.php?id=6">More information...</a>
</div>
</div>
</div>



<div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/rec/showcourse.php?id=1">Discover Scuba Diving &gt;</a></span>
</div>
