   		    <div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/spec/showcourse.php?id=4">Enriched Air Nitrox &gt;</a></span>
</div>
			<a name="top"></a>




<h1>PADI Specialty Courses</h1>


<div class="navbox">
<div class="nav">
<div id="picture"><a href="showcourse.php?id=4"><%= image_tag 'navbar/eanx.jpg', :size => '156x150', :border => '0', :alt => 'Enriched Air Nitrox' %></a></div>
<div id="navtitle"><a href="showcourse.php?id=4">Enriched Air Nitrox</a></div>
<div id="blurb">
Perfect for divers who want to maximize their bottom time! Due to the lower percentage of nitrogen in enriched air, your body absorbs less nitrogen during the dive, allowing you to stay underwater longer and minimizing those pesky surface intervals. <span id="more"><a href="showcourse.php?id=4">More information...</a>
</div>
</div>
<div class="nav">
<div id="picture"><a href="showcourse.php?id=12"><%= image_tag 'navbar/deep.jpg', :size => '156x150', :border => '0', :alt => 'Deep' %></a></div>
<div id="navtitle"><a href="showcourse.php?id=12">Deep Diver</a></div>
<div id="blurb">
Have you ever peered over a wall and wondered what's hiding just a bit deeper? The Deep Diver speciality trains you to handle the increased risks of deep diving while exploring the hidden world that lies down to 40m/130ft. <span id="more"><a href="showcourse.php?id=12">More information...</a>
</div>
</div>
<div class="nav">
<div id="picture"><a href="showcourse.php?id=8"><%= image_tag 'navbar/wrck.jpg', :size => '156x150', :border => '0', :alt => 'Wreck' %></a></div>
<div id="navtitle"><a href="showcourse.php?id=8">Wreck Diver</a></div>
<div id="blurb">
Discover the mysterious allure of shipwrecks as you explore their watery graves. The Wreck Diver specialty teaches proper wreck navigation, wreck mapping skills, and proper techniques for wreck penetration. This course can only be experienced using the extended bottom time afforded by <a href=\"../courses/showcourse.php?abbr=eanx\">Enriched Air Nitrox</a>. <span id="more"><a href="showcourse.php?id=8">More information...</a>
</div>
</div>
<div class="nav">
<div id="picture"><a href="showcourse.php?id=10"><%= image_tag 'navbar/foto.jpg', :size => '156x150', :border => '0', :alt => 'Underwater Photographer' %></a></div>
<div id="navtitle"><a href="showcourse.php?id=10">Underwater Photographer</a></div>
<div id="blurb">
Capture your dive experiences on film! The Underwater Photographer specialty introduces you to basic photography techniques and terminology, allowing you to snap the best possible pictures underwater. Enhance your photographs by combining the course with the <a href=\\\"showcourse.php?abbr=ppb\\\">PPB specialty</a>. <span id="more"><a href="showcourse.php?id=10">More information...</a>
</div>
</div>
<div class="nav">
<div id="picture"><a href="showcourse.php?id=9"><%= image_tag 'navbar/nav.jpg', :size => '156x150', :border => '0', :alt => 'Underwater Navigator' %></a></div>
<div id="navtitle"><a href="showcourse.php?id=9">Underwater Navigator</a></div>
<div id="blurb">
Nobody likes to get lost; with the Underwater Navigation specialty, you\\\\\\\'ll never have to worry about it again. Advanced compass and natural navigation techniques are combined with distance estimation in your dive planning, making it easy for you to return to the boat every time. <span id="more"><a href="showcourse.php?id=9">More information...</a>
</div>
</div>
<div class="nav">
<div id="picture"><a href="showcourse.php?id=11"><%= image_tag 'navbar/ppb.jpg', :size => '156x150', :border => '0', :alt => 'Peak Performance Buoyancy' %></a></div>
<div id="navtitle"><a href="showcourse.php?id=11">Peak Performance Buoyancy</a></div>
<div id="blurb">
Wind your way through narrow swimthrus. Hang upside down to spot that hidden lobster. Hover effortlessly along a wall. The PPB specialty fine-tunes your ability to control your lung volume, trim your weights, and reduce your air consumption. <span id="more"><a href="showcourse.php?id=11">More information...</a>
</div>
</div>
</div>




<div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/spec/showcourse.php?id=4">Enriched Air Nitrox &gt;</a></span>
</div>
