<a name="<%= dmt.first_name %>"></a>
<a name="<%= dmt.avatar_file_name %>"></a>
<div class="drawpicture" style="position: relative; width: 140px; margin: 10px 5px;">
  <a onClick="PopupWindow('/images/members/<%= dmt.avatar_file_name %>',140,140);">
    <%= image_tag 'members/' + dmt.avatar_file_name, :size => '140x140', :border => 0 %>
  </a>
  <div class="caption">
    <b><%= dmt.name %></b>
    <br />
    <%= dmt.country %>
  </div>
</div>
