<% if member_row[0] %>
  <tr id="row<%= @row %>" name="row<%= @row %>">
    <a name="row<%= @row %>"></a>
    <td class="oddrow_oddcol" colspan="1" align="center" valign="middle">
      <%= render :partial => 'member', :object => member_row[0] %>
    </td>
    <% if member_row[1] %>
      <td class="oddrow_evencol" colspan="1" align="center" valign="middle">
        <%= render :partial => 'member', :object => member_row[1] %>
      </td>
    <% end %>

    <% if member_row[2] %>
      <td class="oddrow_oddcol" colspan="1" align="center" valign="middle">
        <%= render :partial => 'member', :object => member_row[2] %>
      </td>
    <% end %>
    <% @row += 1 %>
  </tr>
<% end %>
