
   		    <div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/crew/index.php#Management">Management &gt;</a></span>
</div>
			<a name="top"></a>


<h1>Coconut Tree Crew</h1>

<div class="tableformatter" style="position: relative;">
<table width="520" cellspacing="0" cellpadding="0" border="0" class="darkblue">
<tr id="row0" name="row0">
<a name="row0"></a><th class="oddth" colspan="2" align="center" valign="middle">Crew Members</th>
</tr>
<tr id="row1" name="row1">
  <a name="row1"></a>
  <td class="oddrow_oddcol" colspan="1" align="right" valign="middle"><b>Management</b></td>
  <td class="oddrow_evencol" colspan="1" align="left" valign="middle">
    <%= crew_nav('management') %>
  </td>
</tr>
<tr id="row2" name="row2">
<a name="row2"></a><td class="evenrow_oddcol" colspan="1" align="right" valign="middle"><b>Captains</b></td>
<td class="evenrow_evencol" colspan="1" align="left" valign="middle">
  <%= crew_nav('captains') %>
</td>
</tr>
<tr id="row3" name="row3">
<a name="row3"></a><td class="oddrow_oddcol" colspan="1" align="right" valign="middle"><b>Instructors</b></td>
<td class="oddrow_evencol" colspan="1" align="left" valign="middle">
  <%= crew_nav('dive_staff') %>
</td>
</tr>
<tr id="row4" name="row4">
<a name="row4"></a><td class="evenrow_oddcol" colspan="1" align="right" valign="middle"><b>Support Staff</b></td>
<td class="evenrow_evencol" colspan="1" align="left" valign="middle">
  <%= crew_nav('support') %>
</td>
</tr>
<tr id="row5" name="row5">
<a name="row5"></a><td class="oddrow_oddcol" colspan="1" align="right" valign="middle"><b>Divemaster Interns</b></td>
<td class="oddrow_evencol" colspan="1" align="left" valign="middle">
  <%= crew_nav('students') %>
</td>
</tr>
</table>
</div>

<hr />
<a name="Management"></a><div class="title">Management</div>

<%= render :partial => 'crew_member', :collection => Member.management %>

<p class="totop"><a href="#top">Return to top</a></p>
<hr />
<a name="Captains"></a><div class="title">Captains</div>

<%= render :partial => 'crew_member', :collection => Member.captains %>

<p class="totop"><a href="#top">Return to top</a></p>
<hr />
<a name="Instructors"></a><div class="title">Instructors</div>

  <%= render :partial => 'crew_member', :collection => Member.dive_staff %>

<p class="totop"><a href="#top">Return to top</a></p>
<hr />
<a name="Support_Staff"></a><div class="title">Support Staff</div>

  <%= render :partial => 'crew_member', :collection => Member.support %>

<p class="totop"><a href="#top">Return to top</a></p>
<hr />
<a name="Divemaster_Interns"></a><div class="title">Current Divemaster Trainees</div>

<div class="tableformatter" style="position: relative;">
<table width="520" cellspacing="0" cellpadding="0" border="0" class="darkblue">

  <%= render :partial => 'member_row', :collection => Member.members_in_threes('students') %>

</table>
</div>

<p class="totop"><a href="#top">Return to top</a></p>


<div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/crew/index.php#Management">Management &gt;</a></span>
</div>
<div class="prevnext"><a href="http://www.coconuttreedivers.com/home/index.php" title="Home">Home</a> | <a href="http://www.coconuttreedivers.com/diving/index.php" title="Dive Packages">Dive Packages</a> | <a href="http://www.coconuttreedivers.com/rec/index.php" title="PADI Dive Courses">PADI Dive Courses</a> | <a href="http://www.coconuttreedivers.com/spec/index.php" title="Specialty Courses">Specialty Courses</a> | <a href="http://www.coconuttreedivers.com/pro/index.php" title="Go Pro">Go Pro</a> | <a href="http://www.coconuttreedivers.com/tec/index.php" title="Tec Diving">Tec Diving</a> | <a href="http://www.coconuttreedivers.com/elearning/index.php" title="PADI e-Learning">PADI e-Learning</a><br /><a href="http://www.coconuttreedivers.com/calc/index.php" title="Course Calculator">Course Calculator</a> | <a href="http://www.coconuttreedivers.com/crew/index.php" title="Our Crew">Our Crew</a> | <a href="http://www.coconuttreedivers.com/grads/index.php" title="Our Graduates">Our Graduates</a> | <a href="http://www.coconuttreedivers.com/sites/index.php" title="Roatan Dive Sites">Roatan Dive Sites</a> | <a href="http://www.coconuttreedivers.com/roatan/index.php" title="About Roatan">About Roatan</a> | <a href="http://www.coconuttreedivers.com/photos/index.php" title="Photo Gallery">Photo Gallery</a><br /><a href="http://www.coconuttreedivers.com/news/index.php" title="News Updates">News Updates</a> | <a href="http://www.coconuttreedivers.com/testimonials/index.php" title="Testimonials">Testimonials</a> | <a href="http://www.coconuttreedivers.com/contact/index.php" title="Contact Us">Contact Us</a></div>
