   		    <div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/grads/index.php#leader">Cult Leaders &gt;</a></span>
</div>
			<a name="top"></a>

<h1>Coconut Tree Graduates</h1>
<a name=""></a>

<div class="tableformatter" style="position: relative;">
<table width="520" cellspacing="0" cellpadding="0" border="0" class="darkblue">
<tr id="row0" name="row0">
<a name="leader"></a><a name="row0"></a><th class="oddth" colspan="3" align="center" valign="middle">Cult Leaders</th>
</tr>
<tr id="row1" name="row1">
<a name="row1"></a><td class="oddrow_oddcol" colspan="3" align="left" valign="middle">The highest honor bestowed upon a Coconut Tree Graduate, <b>Cult Leader</b> status is awarded to divers who complete all their dive training from <a href="../rec/showcourse.php?abbr=ow">Open Water</a> through the <a href="../pro/showcourse.php?abbr=owsi">IDC</a> with the Cult of Coconut</td>
</tr>
  <% @row = 2 %>
  <%= render :partial => 'member_row', :collection => Member.members_in_threes('cult_leaders') %>
</table>
</div>
<a name=""></a>

<div class="tableformatter" style="position: relative;">
<table width="520" cellspacing="0" cellpadding="0" border="0" class="darkblue">
<tr id="row0" name="row0">
<a name="idc"></a><a name="row0"></a><th class="oddth" colspan="3" align="center" valign="middle">IDC Graduates</th>
</tr>
<tr id="row1" name="row1">
<a name="row1"></a><td class="oddrow_oddcol" colspan="3" align="left" valign="middle">Graduates of the Instructor Development Course have earned their <b><a href="../pro/showcourse.php?abbr=owsi">Open Water Scuba Instructor</a></b> certifications following two intense weeks of preparation for the two-day-long PADI Instructor Exam</td>
</tr>
  <% @row = 2 %>
  <%= render :partial => 'member_row', :collection => Member.members_in_threes('instructors') %>
</table>
</div>

<a name=""></a>

<div class="tableformatter" style="position: relative;">
<table width="520" cellspacing="0" cellpadding="0" border="0" class="darkblue">
<tr id="row0" name="row0">
<a name="dm"></a><a name="row0"></a><th class="oddth" colspan="3" align="center" valign="middle">Divemaster Graduates</th>
</tr>
<tr id="row1" name="row1">
<a name="row1"></a><td class="oddrow_oddcol" colspan="3" align="left" valign="middle">Coconut Tree Divemaster Graduates join the famed <b>Order of the Red Hats</b> upon finishing their six-week (or longer) <a href="../pro/showcourse.php?abbr=dm">Divemaster Trainee Internship</a></td>
</tr>
  <% @row = 2 %>
  <%= render :partial => 'member_row', :collection => Member.members_in_threes('divemasters') %>
</table>
</div>

<a name=""></a>

<div class="tableformatter" style="position: relative;">
<table width="520" cellspacing="0" cellpadding="0" border="0" class="darkblue">
<tr id="row0" name="row0">
<a name="tecies"></a><a name="row0"></a><th class="oddth" colspan="3" align="center" valign="middle">Roatan Tec Team Graduates</th>
</tr>
<tr id="row1" name="row1">
<a name="row1"></a><td class="oddrow_oddcol" colspan="3" align="left" valign="middle"><a href="../tec/index.php"><b>Roatan Tec Team Graduates</b></a> earn their black hats following two challenging weeks of learning decompression, notox switches, technical rigging, and truly epic deep diving</td>
</tr>
  <% @row = 2 %>
  <%= render :partial => 'member_row', :collection => Member.members_in_threes('tecies') %>
</table>
</div>

<a name=""></a>

<div class="tableformatter" style="position: relative;">
<table width="520" cellspacing="0" cellpadding="0" border="0" class="darkblue">
<tr id="row0" name="row0">
<a name="stamina"></a><a name="row0"></a><th class="oddth" colspan="2" align="center" valign="middle">Stamina Test Perfect 20 Club</th>
</tr>
<tr id="row1" name="row1">
<a name="row1"></a><td class="oddrow_oddcol" colspan="2" align="left" valign="middle"><b>Perfect 20 Club</b> members are physically the best of the best, having scored a perfect 20 on the <a href="../pro/showcourse.php?abbr=dm">Divemaster Stamina Test</a></td>
</tr>
  <% @row = 2 %>
  <%= render :partial => 'member_row', :collection => Member.members_in_threes('perfects') %>
</table>
</div>

<p>Have you finished your Divemaster, IDC, or Tec course at Coconut Tree Diver but are not listed on this page? <a href="../contact/index.php">Contact us</a> so we can add you!</p>

<div class="prevnext"><span id="prev"><a href="http://www.coconuttreedivers.com/contact/index.php">&lt; Contact Us</a></span>
<span id="next"><a href="http://www.coconuttreedivers.com/grads/index.php#leader">Cult Leaders &gt;</a></span>
</div>
